<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Transport Planner</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">

                @*Train icon set for journey planner item on menu plus text*@
                <i class="fas fa-train" aria-hidden="true"></i> &nbsp;  &nbsp; Journey Planner

            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="livearrivals">

                @*Clock icon set for live arrivals item on menu plus text*@
                <i class="far fa-clock" aria-hidden="true"></i> &nbsp;  &nbsp; Live Arrivals

            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statusupdates">

                @*Exclamation icon set for status updates item on menu plus text*@
                <i class="fas fa-exclamation-circle" aria-hidden="true"></i> &nbsp;  &nbsp; Status Updates

            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
