@page "/livearrivals"


<div class="heading-for-live-arrivals">
    Live Arrivals
</div>

<div class="box-around-live-arrivals">
    <div>
        <select class="from-textbox" type="text" id="fname" name="fname" placeholder="Station">
        </select>
    </div>

     <input class="show-button" type="submit" value="Show">
 </div>


    @code {


    }
